.utds-list-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 100%;
  display: table;

  .utds4-listxxx {
    color: pink;
  }


  .utds-map {
    display: table-cell;
    width: 50%;
    vertical-align: top;
    .utds4-listxxx2 {
      color: red;
    }

    .google-map {
      width: 100%;
      min-height: 600px;
    }
  }
}



